body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #000000; }

p {
  font-size: 14px; }

li#about a:hover {
  color: #a13d1c; }

li#tutorials a:hover {
  color: #888533; }

li#archives a:hover {
  color: #dba40d; }

span.cursive {
  font-family: "Cedarville Cursive", cursive;
  font-size: 20px; }

header {
  background: url("../img/autumncircle-lines3.png") no-repeat center top;
  height: 271px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 23px; }
  header ul {
    padding: 126px 0 0 579px;
    position: relative; }
    header ul li {
      float: left;
      list-style-type: none;
      margin-right: 37px;
      font-family: "Cedarville Cursive", cursive;
      font-size: 25px;
      cursor: pointer; }
    header ul li#archives {
      margin-right: 0; }

#main {
  height: 2000px;
  width: 1005px;
  margin: 0 auto; }
  #main #left {
    float: left;
    width: 765px;
    height: 1000px;
    margin: 5px 16px 0 0px;
    background: #ececec;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    #main #left #home {
      width: 765px;
      height: 800px; }
    #main #left .post {
      margin-left: 40px;
      width: 680px;
      border-bottom: 1px solid #a13d1c;
      padding-bottom: 30px; }
      #main #left .post p {
        width: 650px;
        margin: 0; }
      #main #left .post p.date {
        margin-top: 40px;
        font-size: 12px; }
      #main #left .post p.content {
        margin-bottom: 30px; }
      #main #left .post h1 {
        font-size: 20px;
        margin-top: 0;
        font-weight: normal; }
  #main #right {
    float: left;
    width: 224px;
    height: 1000px;
    margin: 5px 0 0 0;
    background: #ececec;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    #main #right img {
      margin: 24px 0 0 24px; }
    #main #right p#laura {
      font-family: "Cedarville Cursive", cursive;
      color: #ffffff;
      margin: -102px 0 0 139px;
      font-size: 20px; }

#main .hide {
  display: none; }

#about img {
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 50px 0 0 180px; }
#about p#about {
  width: 400px;
  margin: 20px 0 0 180px;
  font-size: 14px; }
