body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #000000; }

p {
  font-size: 14px; }

li#about:hover {
  background: url("../img/about.png") no-repeat 85px 13px; }

li#tutorials:hover {
  background: url("../img/diy.png") no-repeat 35px 12px; }

li#archives:hover {
  background: url("../img/archives.png") no-repeat 45px 15px; }

li#homepage:hover {
  background: url("../img/home.png") no-repeat 100px 13px; }

span.cursive {
  font-family: "Cedarville Cursive", cursive;
  font-size: 20px; }

#main {
  height: 100%;
  margin: 0 auto; }
  #main #right {
    float: left;
    width: 66%;
    height: auto;
    margin: 5px 0 16px 0px;
    background: #fffffff;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    #main #right #home {
      width: 765px;
      height: auto; }
    #main #right .post {
      margin-left: 50px;
      width: 680px;
      border-bottom: 1px solid #a13d1c;
      padding-bottom: 30px; }
      #main #right .post p {
        width: 650px;
        margin: 0; }
      #main #right .post p.date {
        margin-top: 50px;
        font-size: 13px; }
      #main #right .post p.content {
        margin-bottom: 30px; }
      #main #right .post h1 {
        font-size: 22px;
        margin-top: 0;
        font-weight: normal; }
      #main #right .post a {
        font-weight: bold; }
      #main #right .post a:hover {
        text-decoration: underline; }
      #main #right .post img {
        -moz-border-radius: 5px;
        border-radius: 5px; }
  #main #left {
    float: left;
    width: 29%;
    height: 100%;
    min-height: 1000px;
    margin: 0 0 0 0;
    background: #ececec;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    #main #left img#logo {
      margin: 24px 24px 0 0;
      float: right; }
    #main #left p#laura {
      font-family: "Cedarville Cursive", cursive;
      color: #ffffff;
      margin: -102px 0 0 139px;
      font-size: 20px; }
    #main #left ul#nav {
      margin-top: 34px;
      clear: right;
      float: right; }
      #main #left ul#nav li {
        list-style-type: none;
        margin-right: 36px;
        font-family: "Cedarville Cursive", cursive;
        font-size: 32px;
        cursor: pointer;
        text-align: right;
        width: 200px; }

#main .hide {
  display: none; }

#about img {
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 50px 0 0 180px; }
#about p#about {
  width: 400px;
  margin: 20px 0 0 180px;
  font-size: 14px; }
