$font:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$cursive:'Cedarville Cursive', cursive;
$red:#a13d1c;
$grey:#ececec;

body{
	font-family:$font;
	font-weight:300;
	background: #ffffff;
}

a{
    text-decoration: none;
    color:#000000;
}
p{
	font-size:14px;
}

li#about:hover{
    background:url("../img/about.png") no-repeat 85px 13px;
}
li#tutorials:hover{
    background:url("../img/diy.png") no-repeat 35px 12px;
}
li#archives:hover{
    background:url("../img/archives.png") no-repeat 45px 15px;
}
li#homepage:hover{
    background:url("../img/home.png") no-repeat 100px 13px;
}


span.cursive{
	font-family:$cursive;
	font-size:20px;
}

#main {
    height:100%;
    //min-height:1000px;
    margin:0 auto;
    #right{
	    float:left;
	    width:66%;
	    height:auto;
	    margin:5px 0 16px 0px;
	    background:#fffffff;
	    
		.page{
			width:765px;
			height:auto;
		}
	    .post{
	    	margin-left:50px;
	    	width:680px;
	    	border-bottom:1px solid $red;
	    	padding-bottom:30px;
	    	p {
	    		width:650px;
	    		margin:0;
	   	 	}
		    p.date{
		   		margin-top:50px;
		   		font-size:13px;
		    }
		    p.content{
		    	margin-bottom:30px;
		    }
	   	 	h1{
	   	  		font-size:22px;
	   	  		margin-top:0;
	   	  		font-weight:normal;
	   	  		// font-family: Sorts Mill Goudy, serif;
	   	  	}
	   	  	a{
	   	  		font-weight:bold;
	   	  	}
	   	  	a:hover{
	   	  		text-decoration:underline;
	   	  	}
	   	  img{
	   	  	-moz-border-radius: 5px;
			border-radius: 5px;
	   	  }
	   }
	}	
	#left{
		float:left;
		width:29%;
		height:100%;
		min-height:1000px;
		margin:0;
		background:$grey;
		img#logo{
			margin:24px 24px 0 0;
			float:right;
		}
		p#laura{
			font-family: $cursive;
			color:#ffffff;
			margin:-102px 0 0 139px;
			font-size: 20px;
		}
		ul#nav{
    	margin-top:34px;
    	clear:right;
    	float:right;
	    	li{
	    		
	    		list-style-type: none;
	    		margin-right:36px;
	    		font-family: $cursive;
	    		font-size:32px;
	    		cursor:pointer;
	    		text-align:right;
	    		width:200px;
	    	}
    	}
	}
}

#main .hide {
	display:none;
}

#about{
	h2{
		font-weight:normal;
		margin:30px 0 0 80px;
	}
    img{
    	-moz-border-radius: 10px;
   		 border-radius: 10px;
   		 margin:20px 0 0 80px;
    }
    p#about{
    	width:400px;
    	margin:20px 0 20px 80px;
    	font-size:14px;
    }
    .social{
    	img{
    		margin:5px 0 0 65px
    	}
    	a{
    	font-family:$cursive;
    	font-size:22px;
    	margin: 0 0 0 15px  
    	}
    	a:hover{
    		color:#5e5f26;
    	}  	
    }

}

#tutorials{
	h2{
		font-weight:normal;
		margin:30px 0 0 50px;
	}
	#grid{
		ul{
			width:500px;
			li{
				list-style-type:none;
				float:left;
				margin:0 10px 10px 10px;
				font-size:12px;
				img{
					-moz-border-radius: 5px;
	   		 		border-radius: 5px;
				}
				img:hover{
				}
			}
		}
	}
}